.container1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 20px 0 20px;
}

.container1 .heading {
    padding-bottom: 20px;
}

.container1 .heading h3 {
    font-weight: bolder;
    font-size: 2em;
    border-bottom: 3px solid;
}

.container1 .box {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.container1 .box .dream {
    display:flex;
    flex-direction: column;
    width: 32.5%;
}

.container1 .box .dream img {
    width: 100%;
    padding-bottom: 5px;
    border-radius: 10px;
}

.one {
    border-bottom: 3px solid darkgray;
}

.two {
    border-bottom: 3px solid;
}

@media only screen and (max-width: 840px){
    .container1 .box{
        flex-direction: column;
    }
    .container1 .box .dream{
        width: 100%;
    }
}