
* {
    font-family: 'Courier New', Courier, monospace; text-align: center;
}

.content p {
    font-size: 24px;
}

.footer {
    margin-top: 3%;
}

.footer p {
    font-size: 24px;
}

body {
    background-color: rgb(133, 133, 133);
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 3;
    width: 100%;
    background-color: darkgray;
    text-align: center;
    margin: auto;
}

.two {
    grid-column: 4;
    width: 100%;
    background-color: darkgray;
    text-align: center;
    margin: auto;
}

.para {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}